body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to left,
    rgb(13, 0, 58),
    rgb(2, 134, 160)
    );
  text-align: center;
}

.app-title {
  color: rgb(1, 203, 244);
  font-family: 'Bigelow Rules', cursive;
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}